<html>
  <head>
    <title>Plot Coordinates on Google Maps</title>	

    <script
	src="http://maps.google.com/maps?file=api&amp;v=2&amp;sensor=false&amp;key=ABQIAAAAm5_k-vcYlCMqxVOCJY1YfBSfGI3NT_1nYwdKtIlsZoy_ZA-GwxSoIFDdDMMxURWz0IveAi2fh_d_Zg"
	type="text/javascript">
	</script>
	
  </head>
  <body onunload="GUnload()">
    <div id="peter_map" style="width: 500px; height: 500px"></div>	
    
    <script type="text/javascript">

var coords = [
	<% @coords.each do |element|  %>
	{ lat : <%= element[0] %> , lon: <%= element[1] %> } ,
	<% end %>
];

    </script>

    <script type="text/javascript">

function createMarker(point,html) {
    var marker = new GMarker(point);
    GEvent.addListener(marker, "click", function() {
	marker.openInfoWindowHtml(html);
    });
    return marker;
}

if (GBrowserIsCompatible()) { 

    var map = new GMap2(document.getElementById("peter_map"));

    map.addControl(new GLargeMapControl());
    map.addControl(new GMapTypeControl());

    map.setCenter(new GLatLng(<%= @lat %> , <%= @lon %> ),10);

    for (var i in coords)
    {
	var lat = coords[i].lat;
	var lon = coords[i].lon;

	var new_point = new GLatLng(lat,lon);
	map.addOverlay(new GMarker(new_point));
    }

}
    </script>
  </body>
</html>
